.container {
  padding: 5vh 10vw;
}

.header {
  padding: 2vh 0;
  font-size: 48px;
}

.letter {
  white-space: pre-wrap;
  font-size: 24px;
}

.button {
  padding: 8px 32px;

  background: none;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-top: 5vh;
}
